services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: anki_clone_db
      POSTGRES_USER: edesousacosta
      POSTGRES_PASSWORD: password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data:
